
.custom-font{font-family: Courier;}
.content{max-width:980px;margin:auto}
.dark-grey,.hover-dark-grey:hover,.dark-gray,.hover-dark-gray:hover{color:#fff!important;background-color:#3ea2fa!important}
.brown,.hover-brown:hover{color:#fff!important;background-color:#795548!important}
.scrollable {
    width: 780px;
    overflow: auto; 
}
.block{display:block;width:100%}
.button:hover{color:#000!important;background-color:#ccc!important}
.xxlarge{font-size:36px!important}
.padding-16{padding-top:16px!important;padding-bottom:16px!important}
.padding-64{padding-top:64px!important;padding-bottom:64px!important}
.center {text-align:center!important}
.margin-right{margin-right:16px!important}
.margin{margin:16px!important}
.circle{border-radius:50%}
.container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before,